@model GuideTouristiqueApp.Models.Bus

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Modifier le bus : </h1>

<h4>@Model.NumeroLigne</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NumeroLigne" class="control-label"></label>
                <input asp-for="NumeroLigne" class="form-control" />
                <span asp-validation-for="NumeroLigne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Horaire" class="control-label"></label>
                <input asp-for="Horaire" class="form-control" />
                <span asp-validation-for="Horaire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

