@{
    ViewData["Title"] = "Home Page";
}
 <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="~/lib/bootstrap/dist/css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">

                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">

                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">
                            Votre endroit préféré pour réserver un hôtel, un bus, ...
                        </h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Bienvenue sur notre site</p>
                        <a class="btn btn-primary btn-xl" href="#about">En savoir plus</a>
                    </div>
                </div>
            </div>
           

        </header>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Trouvez des activités passionnantes.Où vous voulez, quand vous voulez.</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">Apprenez ce que nous faisons pour aider à maintenir votre sécurité et vos plans flexibles pendant que vous découvrez des choses incroyables à faire. Avant de réserver, assurez-vous de vérifier les restrictions locales de voyage.</p>
                        <a class="btn btn-light btn-xl" href="#services">Commencer!</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">A Votre Service</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi bi-bag-plus"></i></div>
                            <h3 class="h4 mb-2">
                                Plus de 345 000 activités
                            </h3>
                            <p class="text-muted mb-0" ><a asp-area="Activite" asp-controller="Activite" asp-action="Index">Voir</a></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi bi-star"></i></div>
                            <h3 class="h4 mb-2">Des millions d'avis</h3>
                            <p class="text-muted mb-0"><a asp-area="Commentaire" asp-controller="Home" asp-action="Index">Voir</a></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi bi-arrow-up-left-square"></i></div>
                            <h3 class="h4 mb-2">Garantie du prix le plus bas</h3>
                            <p class="text-muted mb-0"><a asp-area="Offre" asp-controller="Offre" asp-action="Index">Voir</a></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi bi-phone"></i></div>
                            <h3 class="h4 mb-2">Assistance mondiale 24 h/24, 7 j/7</h3>
                            <p class="text-muted mb-0"><a asp-area="Catalogue" asp-controller="Catalogue" asp-action="Index">Voir</a></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi bi-building"></i></div>
                            <h3 class="h4 mb-2"> Plus de 1 000 Sites Touristiques </h3>
                            <p class="text-muted mb-0"><a asp-area="Site" asp-controller="Site" asp-action="Index">Voir</a></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi bi-house-door"></i></div>
                            <h3 class="h4 mb-2"> Plus de 1 500  Hôtels  </h3>
                            <p class="text-muted mb-0"><a asp-area="Hotel" asp-controller="Hotel" asp-action="Index">Voir</a></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi bi-cup-straw"></i></div>
                            <h3 class="h4 mb-2"> Plus de 2 500  Restaurants  </h3>
                            <p class="text-muted mb-0"><a asp-area="Restaurant" asp-controller="Restaurant" asp-action="Index">Voir</a></p>
                        </div>
                    </div>
                    </div>

                </div>
        </section>
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2021 - Guide Touristique App</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="~/js/site.js" asp-append-version="true"></script>
       
    </body>
</html>

